ul {
  list-style: none;
}

.Weather li {
  font-size: 20px;
  text-align: center;
  line-height: 29px;
}

.Weather form {
  margin-bottom: 20px;
}
.Weather footer {
  font-size: 14px;
  margin: 10px 0;
}

.Weather .temperature {
  font-weight: bold;
  color: grey;
  position: relative;
  font-size: 46px;
  top: auto;
  margin-left: 0;
  margin-right: 0px;
  padding: 0;
}
.icon {
  margin-left: 0px;
  margin-right: 0px;
}

.Weather .unit {
  padding: 5px;
  font-size: 16px;
  color: grey;
  font-weight: 500px;
  position: relative;
  top: -20px;
  line-height: 1;
}
